# Go build outputs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Workspace & Env
go.work
go.work.sum
.env

# Temp & cache
tmp/
.idea/
.vscode/
.DS_Store

# Go vendor (nếu dùng go mod vendor)
# vendor/